.login-page{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* min-height: 90vh; */
}

.image{
	display: flex;
    justify-content: center;
    align-items: center;
	/* width: 50%; */
	/* height: 100%; */
	background-size: cover;
	background-position: center;
}

.login-img{
	height: 80vh;
	z-index: -10;
}

.login-form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 30%; */
    height: fit-content;
    row-gap: 10px;
    padding: 2rem;
}

.form-page{
	height: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
}

.form-part{
	border: 1px solid #000;
    border-radius: 10px;
    /* width: 30%; */
    align-self: center;
    height: fit-content;
}

.heading{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.extra{
	display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
.forgot-pass-text{
	text-align: right;
    padding-right: 1rem;
}
.reg-text{
	padding-left: 1rem;
}

.forgot-pass-text, .reg-text{
	font-size: 0.8rem;
}