


/* input field design  */
.coolinput {
	display: flex;
	flex-direction: column;
	/* width: 90%; */
	position: static;
	/* max-width: 240px; */
}
  
.coolinput label.text {
	font-size: 0.75rem;
	color: #818CF8;
	font-weight: 700;
	position: relative;
	top: 0.5rem;
	margin: 0 0 0 7px;
	padding: 0 3px;
	background: whitesmoke;
	width: fit-content;
}
  
.coolinput > .input {
	padding: 11px 10px;
	font-size: 0.75rem;
	border: 2px #818CF8 solid;
	border-radius: 5px;
	background: whitesmoke;
}
  
.coolinput input[type=text].input:focus {
	outline: none;
}


/* ------------reset_password------------ */
.reset-img{
	height: 27rem;
    width: 33rem;
}

.heading{
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.email-send-form{
	border: 1px solid;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
	width: 80%;
}

#id_email{
	padding: .3rem .7rem;
    border-radius: 15px;
}

.email-send{
	height: 100%;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* ------------reset_password_done------------ */

.instruction{
	display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.instruction-text{
	font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    text-align: justify;
    border: 3px solid #cecece;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #94909091;
}

/* ----------reset_password_complete---------- */
.instruct{
	color: #949494;
    text-align: justify;
}
.heading{
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	text-align: center;
}