.nav-items{
	justify-content: space-around;
}
.logo{
	height: 3rem;
}
.main-nav-item{
	gap: 2rem;
}

.bg-transparant{
	background: transparent !important;
}

.auth-items{
	gap: 5px;
}

.btn{
	border-radius: 30px !important;
}