.nav-items{
	justify-content: space-around;
}

.logo{
	height: 3rem;
}

.main-nav-item{
	width: 50%;
    justify-content: space-evenly;
}

.bg-transparant{
	background: transparent !important;
}

.auth-items{
	gap: 5px;
	width: fit-content;
}

.btn{
	border-radius: 30px !important;
}

.navbar-toggler{
	border: none !important;
	padding: 0 !important;
}