.diary-img{
	height: 29rem;
    width: 35rem;
}
.page-part{
	border: 2px solid #6d6c6c;
	border-radius: 10px;
	margin-bottom: 2rem;
	max-height: 90vh;
    overflow: overlay;
}
.page-part::-webkit-scrollbar {
	width: 10px;  /* Width of the scrollbar */
	border-radius: 10px;
}

.page-part::-webkit-scrollbar-track {
	background: #f1f1f1;  /* Color of the track */
	border-radius: 10px;  /* Roundness of the track */
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.page-part::-webkit-scrollbar-thumb {
	background: #c8c8c8;  /* Color of the scroll thumb */
	border-radius: 10px;  /* Roundness of the scroll thumb */
}

.page-part::-webkit-scrollbar-thumb:hover {
	background: #555;  /* Color of the scroll thumb on hover */
}

.edit-button{
	display: flex;
	justify-content: flex-end;
}
.page-date{
	text-align: right;
	font-size: small;
	color: #6d6c6c;
	right: 0;
	bottom: 0;
}