
{% extends "base.html" %}
{% load static %}

{% block title %} Success {% endblock title %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'media/reset_password.png' %}" alt="" class="img-fluid">
			</div>
			<div class="col-sm-6">
				<h1 class="heading">Password Changed</h1>
				<p class="text">Your password has been changed successfully.</p>
				<a href="{% url 'login' %}" class="btn btn-dark mt-3">Login</a>
				<a href="{% url "profile" %}" class="btn btn-dark mt-3">Go to profile</a>
			</div>
		</div>
	</div>
{% endblock body %}