{% extends "base.html" %}
{% load static %}

{% block title  %} Home {% endblock title  %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock css %}

{% block body  %}
	<div class="container home-content">
		<div class="row">
			<div class="col-sm-7">
				<div class="tag-line">
					{% if request.user.is_authenticated %}
						<p class="greet-text">Hi! {{request.user.first_name}}👋</p>
					{% endif %}
					<p class="tag-text fs-2 text">Discover Yourself With A Personalized Digital Diary</p> 
					<p class="about-text fs-6 text"> Capture Moments, Reflect on Your Journey, and Ignite personal Growth.  </p>
					<a href="{% url 'myDiary' %}" class="btn btn-dark rounded">Get Started</a>
				</div>
			</div>
			<div class="col-sm-5 home-img">
				<img src="{% static "media/home.png" %}" alt="" class="img-fluid ">
			</div>
		</div>
		
		{% comment %} <div class="home-image">
		</div> {% endcomment %}
	</div>
	<div class="features">
		<div class="accessibility feature-item">
			<i class="bi bi-phone-vibrate-fill"></i>
			<p class="feature-title">Accessibility</p>
			<p class="features-text"> Access Your Diary On the Go from Any Device, Ensuring Seamless Availability </p>
		</div>
		<div class="simplicity feature-item">
			<i class="bi bi-lightbulb-fill"></i>
			<p class="feature-title">Simplicity</p>
			<p class="features-text"> Effortless, Capture Your Thoughts with Ease in a User-Friendly Interface. </p>
		</div>
		<div class="security feature-item">
			<i class="bi bi-shield-fill-check"></i>
			<p class="feature-title">Security</p>
			<p class="features-text">Keep Your Digital Diary Entries Confidential with Robust Encryption. </p>
		</div>
	</div>

	{% include "sections/footer.html" %}
{% endblock body  %}