{% extends "base.html" %}
{% load static %}

{% block title  %} {{request.user.first_name}} {% endblock title  %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock css %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="profile-card">
					<div class="profile-info">
						<h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
						<p>Email: {{request.user.email}}</p>
						<p>Date of Birth: {{request.user.date_of_birth}}</p>
					</div>
					<div class="functionalities">
						<a href="{% url "updateProfile" %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update profile <i class="bi bi-arrow-clockwise"></i></a>
						<a href="{% url "password_change" %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Change Password <i class="bi bi-shield-lock"></i></a>
					</div>
				</div>

				<div class="theme-section" >
					<input id="theme-switch" name='theme' type="checkbox" {% if request.user.theme.theme == 'dark' %}checked{% endif %}>
					<div class="app">
						<div class="body">
							
							<div class="phone">
								<div class="content">
									<div class="circle">
										<div class="crescent"></div>
									</div>
								
									<label for="theme-switch">
										<div class="toggle"></div>
										<div class="names">
											<p class="light">Light</p>
											<p class="dark">Dark</p>
										</div>
									</label>								
								</div>
							</div>
						</div>
					
					</div>

				</div>

			</div>
			<div class="col-md-6">
				<div class="profile-card">
					<div class="profile-image">
						<img src="{% static "media/profile.png" %}" alt="" srcset="" class='img-fluid' />
					</div>
					<div class="profile-info">
						<h2>Diary</h2>
						<p>Number of Page: <strong>{{pages}}</strong> 
							<a href="{% url "writePage" %}" class="btn  p-1 mx-2 {% if request.user.theme.theme == 'dark' %} btn-secondary {% else %} btn-dark {% endif %}">Write <i class="bi bi-pen"></i></a>
						</p>
						<p>Number of Task: <strong>{{todos}}</strong> 
							<a href="{% url "todo" %}" class="btn  p-1 mx-2 {% if request.user.theme.theme == 'dark' %} btn-secondary {% else %} btn-dark {% endif %}">Add Task <i class="bi bi-clipboard2-check"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-danger" id="delete-account">Delete account <i class="bi bi-person-x"></i></button>
	</div>

	<dialog id="delete-account-dialog">
		<div class="delete-account">
			<h1>Delete Account</h1>
			<p>Are you sure you want to delete your accoutn?</p>
			<p>You will lost all your content of diary</p>
			<menu>
				<button id="closeDialog" class="btn btn-dark">Close</button>
				<a href="{% url "deleteProfile" %}"  id="submitDialog" class="btn btn-danger">Delete</a>
			</menu>
		</div>
	</dialog>
	{% include "sections/footer.html" %}
{% endblock body %}

{% block js %} 
	<script src="{% static "js/profile.js" %}"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(e){
			$('#theme-switch').change(function(){
				$.ajax({
					url: "{% url 'changeTheme' %}",
					method: 'POST',
					data: {
						'theme': this.checked ? 'dark' : 'light',
						'csrfmiddlewaretoken': '{{ csrf_token }}'
					},
					success: function(data){
						console.log("Theme changed successfully");
						if (data.theme == 'dark') {
							$('body').removeClass('light-theme').addClass('dark-theme');
							// logo chnager 
							$('#logo').attr('src', '{% static "media/logo-light.png" %}');
							
							// button color changer
							$('.btn-dark').removeClass('btn-dark').addClass('btn-secondary');

							// navbar navlink background  color change
							$('.nav-link').removeClass('text-dark').addClass('text-light');

						} else {
							$('body').removeClass('dark-theme').addClass('light-theme');
							// logo chnager 
							$('#logo').attr('src', '{% static "media/logo.png" %}');

							// button color changer
							$('.btn-secondary').removeClass('btn-secondary').addClass('btn-dark');

							// navbar navlink background  color change
							$('.nav-link').removeClass('text-light').addClass('text-dark');
						
						}
					}
				});
			});
		});
	</script>
{% endblock js %}