{% extends "base.html" %}
{% load static %}

{% block title  %} {{request.user.first_name}} {% endblock title  %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock css %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="profile-card">
					<div class="profile-info">
						<h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
						<p>Email: {{request.user.email}}</p>
						<p>Date of Birth: {{request.user.date_of_birth}}</p>
					</div>
					<div class="functionalities">
						<a href="{% url "updateProfile" %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update profile</a>
						<a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Change Password</a>
						<a href="#" class="btn btn-dark">Logout from all devieces</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="profile-card">
					<div class="profile-image">
						<img src="{% static "media/profile.png" %}" alt="" srcset="" class='img-fluid' />
					</div>
					<div class="profile-info">
						<h2>Diary</h2>
						<p>Number of Page: {{pages}}</p>
						<p>Number of Task: {{todos}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "sections/footer.html" %}
{% endblock body %}