{% extends "base.html" %}
{% load static %}

{% block title %} Email send {% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
{% endblock css %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'media/reset_password_done.png' %}" alt="Email sent" class="img-fluid">
			</div>
			<div class="col-sm-6 instruction">
				<p class="instruction-text">
					We have sent you an email with instructions on how to reset your password.
					If you do not receive the email within a few minutes, please check your spam folder.
				</p>
				<a href="{% url 'login' %}" class="btn btn-dark">Back to login</a>
			</div>
		</div>
	</div>	
{% endblock body %}