{% extends "base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/resetPassword.css" %}">
{% endblock css %}

{% block title %} Reset Password {% endblock title %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static "media/reset_password.png" %}" alt="" class="img-fluid">
			</div>
			<div class="col-sm-6">
				<h1 class="heading">Reset Password</h1>
				<div class="email-send">
					<form action="" method="post" class="email-send-form">{% csrf_token %}
						{% for field in form %}
								<div class="coolinput">
								<label for="{{field.id_for_label}}" class="text">{{field.label}}</label>
								{{field}}  <small class='text-warning'>{{field.errors|striptags}}</small>
							</div>
						{% endfor %}
						<button type="submit" class='btn btn-dark mt-2' formnovalidate >Send Email</button>
					</form>
				</div>
			</div>
		</div>
		
{% endblock body %}