{% extends "base.html" %}
{% load static %}
{% block title %} Successfully Reset Password{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
{% endblock css %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'media/password_reset_successfull.png' %}" alt="Email sent" class="img-fluid">
			</div>
			<div class="col-sm-6 instruction">
				<h1 class='text-center heading'>Password Reset Successfully</h1>
				<p class="instruct">
					You have successfully reset your password. You can now login with your new password.
				</p>
				<a href="{% url 'login' %}" class="btn btn-dark">Login</a>
			</div>
		</div>
	</div>
{% endblock body %}