{% extends "base.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock css %}

{% block title  %} Sign up{% endblock title  %}

{% block body %}
	<div class="container signup-page">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-part">
					<p class="heading">Sign Up</p>
					<form method="post" class="signup-form"  novalidate >{% csrf_token %}
						{% for field in signup_form %}
							<div class="coolinput">
								<label for="{{field.id_for_label}}" class="text">{{field.label}}</label>
								{{field}}  <small class='text-warning'>{{field.errors|striptags}}</small>
							</div>
						{% endfor %}
						<input type="submit" class="btn btn-dark mt-2" value='Sign up'>
					
						{% if signup_form.non_field_errors %}
							{% for error in signup_form.non_field_errors %}
								<p class=" alert alert-danger my-3">{{error}}</p>
							{% endfor %}
						{% endif %}
					</form>
		
					<div class="extra">
						<p class='fw-light'>Already have an account? <a href="{% url 'login' %}">Login</a></p>
						<p class='fw-light'>Already form submitted? <a href="{% url 'request-new-link-from-email' %}">Send verification mail</a></p>
		
					</div>
				</div>
			</div>
			<div class="col-sm-6" style="display: flex">
				{% comment %} <div class="image"> {% endcomment %}
					<img src="{% static "media/signup.png" %}" alt="" class="img-fluid">
				{% comment %} </div> {% endcomment %}
			</div>
		</div>


	</div>

	{% include "sections/footer.html" %}
	
{% endblock body %}

