{% extends "base.html" %}
{% load static %}
{% block title  %} {{page.title}} {% endblock title  %}
{% block css %}
	<link rel="stylesheet" href="{% static "css/viewPage.css" %}">
{% endblock css %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-7 page-part">
				<div class="diary-header">
					<h4 class='heading text-center'>{{page.title}}</h4>
					<hr>
				</div>
				<div class="diary-body">
					<div class="edit-button">
						<a href="{% url "updatePage" page.id %}" class="btn btn-sm btn-dark mb-1 edit-btn"><i class="bi bi-pencil-square"></i></a>
					</div>
					<p class="page-content">{{page.content|safe}}</p>
					<p class="page-date">{{page.created_at}}</p>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="diary-image">
					<img src="{% static "media/viewDiary.png" %}" alt="" class="diary-img">
				</div>
			</div>
		</div>
	</div>

{% endblock body %}