<footer class="footer mt-5 pt-4 p-2 bg-dark-subtle">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3> About Us </h3>
				<p> We are a team of developers who are passionate about creating web applications that are user-friendly and easy to use. </p>
			</div>
			<div class="col-md-4">
				<h3> Contact Developer </h3>
				<p>
					Email: 
					<a href="mailto:{{ site.email }}" 
						class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
					> developer@mail.com </a>
				</p>
				<p> 
					Phone: <a href="tel:{{ site.phone }}"
						class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
					> +91 9876543210 </a>
				</p>
			</div>
			<div class="col-md-4">
				<h3> Follow Us </h3>
				<a href="{{ site.facebook }}" class="btn btn-dark">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="{{ site.twitter }}" class="btn btn-dark">
					<i class="bi bi-twitter"></i>
				</a>
				<a href="{{ site.instagram }}" class="btn btn-dark">
					<i class="bi bi-instagram"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
